<footer class="footer bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>Column 1</h5>
                <p>Welcome to Tour Experts. We offer an extensive range of meticulously curated packages designed to provide you with a premier experience, ensuring both comfort and satisfaction throughout your journey.</p>
            </div>
            <div class="col-md-4 mb-3 links">
                <h5>Links</h5>
                <!-- Remove the "d-flex" class from the links container -->
                <div class="linkss">
                    <a routerLink="/home">Home</a>
                    <a routerLink="/company">Company</a>
                    <a routerLink="/destination">Destination</a>
                    <a routerLink="/package">Packages</a>
                    <a routerLink="/populartour">Popular Tours</a>
                    <a routerLink="/contact">Contact</a>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Location</h5>
                <address class="location-footer">
                    2/96, Main Building, North Street, Anna Nagar, Chennai
                </address>
            </div>
        </div>
    </div>
</footer>
